.title {
  text-align: center;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15%;
}

h2.subtitle {
  text-align: center;
  font-size: medium;
  margin-bottom: 30px;
}

.game-button {
  background-color: rgba(50, 255, 100, 0.1);
  border: none;
  text-decoration: none;
}

.game-button:hover {
  background-color: rgba(50, 255, 100, 0.2); 
}

.game-button-loss {
  text-decoration: none;
  border: none;
  background-color: rgba(255, 50, 100, 0.1);
}

.game-button-loss:hover {
  background-color: rgba(255, 50, 100, 0.2);
}

html {
  scrollbar-width: thin; 
  scrollbar-color: #1f0b44 #0b0623; 
}

.datas-board {
  padding-top: 40px;
}