.title {
  text-align: center;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15%;
}

h2.subtitle {
  text-align: center;
  font-size: medium;
  margin-bottom: 30px;
}

.game-button {
  background-color: rgba(50, 255, 100, 0.1); /* default color for win */
  border: none;
  text-decoration: none;
}

.game-button:hover {
  background-color: rgba(50, 255, 100, 0.2); /* slightly darker on hover for win */
}

.game-button-loss {
  text-decoration: none;
  border: none;
  background-color: rgba(255, 50, 100, 0.1); /* default color for loss */
}

.game-button-loss:hover {
  background-color: rgba(255, 50, 100, 0.2); /* slightly darker on hover for loss */
}

/* Firefox */
html {
  scrollbar-width: thin; /* 'auto' or 'thin' */
  scrollbar-color: #1f0b44 #0b0623; /* thumb and track color */
}

.datas-board {
  padding-top: 40px;
}